/* RESET */

body,
p,
h1,
h2,
h3,
ul {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black
}



/* MENU */

.menu {
    background: url('/img/banner-principal.jpg') no-repeat center center;
    background: cover;
    height: 720px;
}

.menu-container {
    max-width: 960px;
    padding: 10px 0;
    background: #ffffff;
    margin: 60px auto;
    border-right: 5px solid #ffffff;
}

.menu-container::after,
.menu::before {
    content: '';
    display: table;
    clear: both;
}

.menu-logo {
    display: block;
    float: left;
    padding-left: 10px;
}

.menu-escrito {
    float: left;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 1.875em;
    color: gray;
}

.menu-nav {
    float: right;
    padding-top: 20px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    font-size: 1.25em;
    padding: 0 20px;
}

.menu-nav li:hover {
    padding-bottom: 10px;
    border-bottom: 10px solid #C6DEE0;
}

/* SOBRE */

.sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre-container::after,
.sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.bloco-1 {
    height: 200px;
    width: 300px;
    background: #FFDD57;
    float: right;
    margin-top: -350px;
    color: #ffffff;
    text-align: center;
}

.bloco-1 h1 {
    font-size: 3em;
    float: left;
    color: #FFDD57;
    padding-left: 130px;
    padding-top: 20px;
}

.bloco-1 h2 {
    padding-top: 25px;
}

.circulo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    margin-left: 113px;
    margin-top: 19px;
}

.bloco-2 {
    height: 200px;
    width: 300px;
    background: #FF8357;
    float: left;
    margin-top: -120px;
    color: #ffffff;
    text-align: center;
}


.bloco-2 h1 {
    font-size: 3em;
    float: left;
    color: #FF8357;
    padding-left: 130px;
    padding-top: 20px;
}

.bloco-2 h2 {
    padding-top: 25px;
}

.bloco-3 {
    height: 200px;
    width: 300px;
    background: #87C97F;
    float: right;
    margin-top: 120px;
    color: #ffffff;
    text-align: center;
}


.bloco-3 h1 {
    font-size: 3em;
    float: left;
    color: #87C97F;
    padding-left: 130px;
    padding-top: 20px;
}

.bloco-3 h2 {
    padding-top: 25px;
}

.sobre-texto {
    padding-top: 120px;
    max-width: 600px;
    line-height: 30px;
}

.sobre-texto h2 {
    padding-bottom: 20px;
}

/* INFO */
.info {
    padding-top: 80px;
}

.info-container {
    max-width: 100%;
}

.info img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.info-texto {
    width: 450px;
    float: right;
    padding-right: 200px;
    padding-top: 30px;
    line-height: 30px;
}

.info-texto h2 {
    padding-bottom: 20px;
    text-align: center;
}

/* CURSOS */

.cursos {
    padding-top: 80px;
}

.cursos-container {
    max-width: 960px;
    margin: 0 auto;
}

.cursos-container>div {
    width: 300px;
    display: inline-block;
    text-align: center;
    padding-bottom: 80px;
}

.cursos h2 {
    padding-bottom: 20px;
}

.cursos p {
    line-height: 30px;
    padding-bottom: 30px;
}

.curso-criatividade {
    float: left;
}

.curso-inovacao {
    float: right;
}

.curso-criatividade a {
    padding: 15px;
    background: #83C7D4;
    color: #fff;
}

.curso-inovacao a {
    padding: 15px;
    background: #87C97F;
    color: #fff;
}

/* SERVIÇOS */
.servicos-container {
    max-width: 100%;
}

.servicos img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    float: right;
}

.servicos-texto {
    width: 450px;
    float: left;
    padding-left: 200px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
}

.servicos-texto h2 {
    padding-bottom: 10px;
}

.servicos-texto p {
    padding-bottom: 10px;
}

.servicos a {
    padding: 15px;
    color: #fff;
    background: #FF8357;

}

.servicos-container::after,
.servicos-container::before {
    content: '';
    display: table;
    clear: both;
}

/* EXEMPLOS */

.exemplos {
    padding-top: 80px;
}

.exemplos-container {
    max-width: 960px;
    margin: 0 auto;
}

.exemplos-container::after,
.exemplos-container::before {
    content: '';
    display: table;
    clear: both;
}

.exemplos-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 100px;
}

.exemplos li{
    display: inline-block;
    width: 300px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.img{
    width: 300px;
    float: left;
    padding-bottom: 20px;
}
